html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
p {
  margin: 0 0 1rem 0;
}

* :focus {
  outline: 2px dotted silver;
  outline-offset: 2px;
}

.container {
  max-width: 768px;
  margin: 0px auto;
}

label {
  display: block;
  font-weight: bold;
  font-size: 100%;
  margin: 0 0 0.5rem 0;
}
input {
  margin-bottom: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}
input[type='checkbox'] {
  position: absolute;
  height: 22px;
  width: 22px;
  top: -2px;
  left: -40px;
}
textarea {
  display: block;
  width: 100%;
  min-height: 200px;
  /* border: 1px solid red; */
}
ul {
  list-style: none;
}
li {
  margin-bottom: 1em;
  position: relative;
}
