html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
p {
  margin: 0 0 1rem 1rem;
}

* :focus {
  outline: 2px dotted silver;
  outline-offset: 2px;
}

header,
.container {
  max-width: 768px;
  margin: 0px auto;
}

header ul {
  padding-top: 1em;
  padding-bottom: 0rem;
  color: #909090;
}
header ul li {
  padding: 0.5rem 0 0 1rem;
  font-size: 1em;
}
header ul li strong {
  font-size: 1.2em;
  color: #606060;
}

label {
  display: block;
  font-weight: bold;
  font-size: 100%;
  margin: 0 0 0.5rem 0;
}
input {
  margin-bottom: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}
input[type='checkbox'] {
  position: absolute;
  height: 22px;
  width: 22px;
  top: -4px;
  left: -20px;
}
textarea {
  display: block;
  margin: 3rem 0 1rem;
  width: 100%;
  min-height: 200px;
}
ul {
  list-style: none;
}
li {
  padding-bottom: 1em;
  position: relative;
  /* background-color: #e0e0e0; */
}
.btn {
  padding: 6px 12px;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  font-size: 0.8rem;
}
